[submodule "extern/swagmaps"]
	path = extern/swagmaps
	url = https://github.com/tunapanda/swagmaps.git
[submodule "extern/minimvc"]
	path = extern/minimvc
	url = https://github.com/limikael/minimvc.git
