[submodule "extern/swagmaps"]
	path = extern/swagmaps
	url = https://github.com/tunapanda/swagmaps.git
[submodule "extern/minimvc"]
	path = extern/minimvc
	url = https://github.com/limikael/minimvc.git
[submodule "extern/swagmapviewer"]
	path = extern/swagmapviewer
	url = https://github.com/tunapanda/swagmapviewer.git
[submodule "extern/hybridauth"]
	path = extern/hybridauth
	url = https://github.com/hybridauth/hybridauth.git
